<html>
	<head> 
		<title>this is test site</title>
	</head>
	<body>
		
		{{{body}}}
		
		<div style="position: fixed;
    bottom: 0px;
    align-content: center;
    width: 100%;
    text-align: center;"> Common Layout Footer </div>
	</body>
</html>