<footer>
    <span class="propertyid">Property ID# 129267</span>
    <div class="footer-container">
        <img class="customer-logo" src="public/customer_logo.png" />
        <div class="license-notice">
            This copyrighted report contains research licensed to CoStar Group (164).
        </div>
        <img class="costar-logo" src="public/costar_logo.png" />
        <div class="date-and-page">
            <div class="date-stamp">7/19/2013</div>
            <div class="page-number">&nbsp;</div>
        </div>
    </div>
</footer>