<h2>{{marketConditions.title}}</h2>
<div style="clear: both">&nbsp;</div>
<table class="mkt_conditions">
    <thead>
        <tr>
            <td class="mkt_conditions_first_col">Vacancy Rates</td>
            <td class="mkt_conditions_second_col">Current</td>
            <td class="mkt_conditions_third_col">YOY</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Current Building</td>
            <td>3.8%</td>
            <td><span class="pos-or-neg negative">&nbsp;</span>3.9%</td>
        </tr>
        <tr>
            <td>Submarket 4-5 Star</td>
            <td>10.8%</td>
            <td><span class="pos-or-neg negative">&nbsp;</span>0.1%</td>
        </tr>
        <tr>
            <td>Market Overall</td>
            <td>14.3%</td>
            <td><span class="pos-or-neg negative">&nbsp;</span>0.6%</td>
        </tr>
    </tbody>
</table>
<div class="float-spacer">&nbsp;</div>
<table class="mkt_conditions">
    <thead>
        <tr>
            <td class="mkt_conditions_first_col">Submarket Leasing Activity</td>
            <td class="mkt_conditions_second_col">Current</td>
            <td class="mkt_conditions_third_col">YOY</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12 Mo. Leased SF</td>
            <td>3,341,173</td>
            <td><span class="pos-or-neg negative">&nbsp;</span>33.2%</td>
        </tr>
        <tr>
            <td>Months On Market</td>
            <td>21.1</td>
            <td><span class="pos-or-neg negative">&nbsp;</span>0.1%</td>
        </tr>
        <tr>
            <td>Market Overall</td>
            <td>14.3%</td>
            <td><span class="pos-or-neg negative">&nbsp;</span>0.6 mo</td>
        </tr>
    </tbody>
</table>
<table class="mkt_conditions">
    <thead>
        <tr>
            <td class="mkt_conditions_first_col">Gross Asking Rents Per SF</td>
            <td class="mkt_conditions_second_col">Current</td>
            <td class="mkt_conditions_third_col">YOY</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Current Building</td>
            <td>$46.50</td>
            <td><span class="pos-or-neg negative">&nbsp;</span>3.1%</td>
        </tr>
        <tr>
            <td>Submarket 4-5 Star</td>
            <td>$53.82</td>
            <td><span class="pos-or-neg negative">&nbsp;</span>4.9%</td>
        </tr>
        <tr>
            <td>Market Overall</td>
            <td>$33.78</td>
            <td><span class="pos-or-neg negative">&nbsp;</span>0.4%</td>
        </tr>
    </tbody>
</table>
<div class="float-spacer">&nbsp;</div>
<table class="mkt_conditions">
    <thead>
        <tr>
            <td class="mkt_conditions_first_col">Submarket Sales Activity</td>
            <td class="mkt_conditions_second_col">Current</td>
            <td class="mkt_conditions_third_col">YOY</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12 Mo. Sales Volume (Mil.)</td>
            <td>$2,369.1</td>
            <td><span class="pos-or-neg negative">&nbsp;</span>12.7%</td>
        </tr>
        <tr>
            <td>12 Mo. Price Per SF</td>
            <td>$449</td>
            <td><span class="pos-or-neg negative">&nbsp;</span>3.2%</td>
        </tr>
    </tbody>
</table>